<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="loginCtlr.username" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="loginCtlr.password">
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" > Remember Me {{loginCtlr.message}}
    </label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="loginCtlr.Mylogin()">Login</button>
  <button type="submit" class="btn btn-default" ng-click="loginCtlr.Mylogout()">Logout</button>
  <button type="submit" class="btn btn-default" ng-click="loginCtlr.fbLog()">Fb Login</button>
  <span id="googleSignIn">
    <span id="signInButton">
    </span>
</span>
<script>// <![CDATA[
    (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/client:plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
// ]]></script>

