<!-- slider starts -->
<div ng-include="'views/slider.html'"></div>

<div style="height:30px"></div>

<!-- slider ends -->
 <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-circle" src="images/mouse.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Differently</h2>
                    <p>Fresh, innovative & different ideas are the key of success for business in today's competitive world. The key members at prime hold domain expertise in network, computing, application & consulting for years in some of the global leaders. We are leveraging that experience in open source environment. We feel we can rule the world along with you by doing things differently..</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle" src="images/our-promise.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Comitment</h2>
                    <p>Ever since its inception, AMI Services has been guided by an experienced executive leadership team that has emphasized a value-driven approach to business. Our people understand the meaning of commitment, and can go above and beyond contractual expectations.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="img-circle" src="images/sw-engineer.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Engineer</h2>
                    <p>We have a great engineering and management talent to ensure that our services are delivered with the care and attention that every engagement demands. From System Architects, to Project Managers, our people possess substantial experience in core technology and business domains.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

