<form name="myForm">
<panel title=" I am Title">
	<clock timezone="MST">This Is Original</clock>
	<clock timezone="MST">This Is Original</clock>
	<clock timezone="MST">This Is Original</clock>
</panel>
<div superman transclude>THIS IS DIRECTIVE</div>
 <div>
<input type="text" ng-model="Urb" ng-blur="checkUrb()" />
{{isUrb}}
<h2>Ng-show</h2>
<img src="LoadAlert">
<span ng-show="condition">Hide me</span> </br>
<input type="text" ng-model="dataText" ng-keyup="goHide()" />
{{dataText}}
 </div>
<phone dail="callHome"></phone>
 
<input type="datetime-local" id="exampleInput" name="input" ng-model="example.value"
      placeholder="yyyy-MM-ddTHH:mm:ss" min="2001-01-01T00:00:00" max="2013-12-31T00:00:00" required />

<select ng-model="callHome" ng-options="item for item in awesomeThings"></select>
</br>

n  {{n}} 
decimal {{decimal}}

        <div ng-repeat="m in [1,2,3,4,5] | limitTo:n">{{m}}☆</div>

        <div ng-repeat="m2 in [1,2,3,4,5] | limitTo:5-n-halfstar">{{m2}}</div>
        <div ng-if="decimal>0">halfstar</div>

<div>{{Date('9/12/2015') | date:'longDate'}}</div>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/BFtbujb4BSw" frameborder="0" allowfullscreen></iframe>
 
</div>
 <div ng-class="{'red' : toggle}" >
I m talking about ng-class
<button id="btn" ng-click="toggle = !toggle" >Change Class</button>
 </div>

<a href="/google" title="1">google</a>
<a href="/google" title="2">facebook</a>
<a href="/google" title="3">linkedIn</a>

<a class="btn btn-lg btn-success" ng-href="#" ><i id="kol" style="display:none">.</i></a>


<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div ng-class='{error: isError, warning: isWarning}'>{{messageText}}</div>
<button ng-click='showError()'>Simulate Error</button>
<button ng-click='showWarning()'>Simulate Warning</button>
<table>
<tr ng-repeat='restaurant in directory' ng-click='selectRestaurant($index)'
ng-class='{selected: $index==selectedRow}'>
<td>{{restaurant.name}}</td>
<td>{{restaurant.cuisine}}</td>
</tr>
</table>



<test-directive ng-click="ev=$event" ></test-directive>
 <div id="SL" hover-me>
<img src="https://bollywoodjournalist.com/images/easyblog_shared/403/Sunny-leone.jpg" width="400px" height="400px">
</div>
<div id="SK" hover-me>
<img src="http://www.glamsham.com/movies/news/14/dec/shraddha-kapoor.jpg" width="400px" height="400px">
</div>
<span class="label label-warning">Warning</span>
<input class="form-control input-lg" type="text" placeholder="Input your text" value="{{ev.pageX}}">
</form>

