
<div class="container">
     <div class="jumbotron">
 Today IT assets have become widely distributed and less visible. Many organizations are spending a very high portion of their technology budget on “soft costs” like purchasing, installing, managing, administration, troubleshooting, training, recruitment, etc for supporting the IT Hardware and Software. So if your systems are critical to the operation of your business, downtime can have a disastrous impact on production, customer satisfaction and revenues.

We are in the business of helping customers to use their equipment better. Our Facilities Management Services are a comprehensive set of services that helps customers to fully utilize their IT investments by improving availability, reliability and performance. We achieve this by offering a complete portfolio of customized services and expertise, from planning and design to procurement, installation, integration, migration assistance to system management, telephone support and on-site hardware and software fixes.

 All this helps customer in deriving maximum value from the investment in IT hardware and software
</ul>
</div>
    
 </div>
            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Helpdesk Support <span class="text-muted">24x7 available.</span></h2>
                    <p class="lead">Single point of contact to the users for technical problems
Logging user complaints and allocating calls to engineer /vendor / IT Dept.
Assigning severity level to each call as per the predefined definitions.
Call tracking and closing
Escalation of calls to various levels
Identification and resolution of chronic calls and problem
Co-ordination with vendor for technical problems logged at the Help Desk to ensure proper   closure of problems
Report generations
We’ll monitor each call and provide end-to-end management for the calls. The response time and the resolution time will be captured to ensure immediate response.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="images/helpdesk.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Network Management. <span class="text-muted">See for yourself.</span></h2>
                    <p class="lead">To ensure the network bandwidth and availability are to the expected level so as to achieve   maximum productivity through resource sharing
Network link trouble shooting
Resolving network connectivity problems at the client end
Providing support to third party for connectivity to desktop in case of new installations
Monitoring the security measure of network
Updating the documentation of the LAN / WAN setup
Network performance monitoring.
</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="images/network-management.png" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Hadrware Management <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">To ensure that the new installations are happening on schedule.
Monitoring / Provide support to third party for replacement of necessary parts as per the warranty / AMC
Configuring the print servers and resolving printing problems of the users
Performing any install, Move, Add or Change at the client level</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="images/hardware.jpg" alt="Generic placeholder image">
                </div>
            </div>

 
 <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Data Management <span class="text-muted">24x7 available.</span></h2>
                    <p class="lead">Performing regular backup operations at predetermined frequency
Labeling media for identification and retrieval
Proper storage and handling of backup media to prevent data loss
Storing backup media for monthly backups.
Conducting regular restoration exercise with backed-up data to confirm backup validity
Maintaining log sheets for backup etc
Restoring data in case of request from user in the event of data deletion by user accidentally or in case of corruption of data
Tape administration.
Backup service and software\Hardware administration.
Document the whole Backup Schedules.
</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-responsive center-block" src="images/helpdesk.jpg" alt="Generic placeholder image">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                    <h2 class="featurette-heading">Server Management <span class="text-muted">manage everything.</span></h2>
                    <p class="lead">Orderly system startup and shutdown as per predefined procedures
Monitor CPU utilization, disk space usage etc. vis-à-vis thresholds using server management tools
Identify potential problems and proactively take corrective action before they impact user productivity
Resolve server problems like system ‘hang’, hard disk crash etc.
Install / Upgrade OS and patches
Reload OS on servers as and when needed
Virus prevention and cleaning on the server
Print queue administration
To ensure that DNS, DHCP, Web services are working fine.
Troubleshooting and management of DNS, DHCP, mail server.
</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <img class="featurette-image img-responsive center-block" src="images/network-management.png" alt="Generic placeholder image">
                </div>
            </div>


            <!-- /END THE FEATURETTES -->